header {
  text-align: center;
}

nav {
    background: #632b6e;
}

.navButton {
    width: 100px;
    height: 50px;
    border-radius: 25px;
    margin: 25px;
}


@media (width<=630px) {
    .navButton {
    margin: 5px;
}
}

.projImg {
    width: 400px;
    height: auto;
}

.blogsList {
    display: flex;
}

.blog {
    width: 200px;
    height: 400px;
    margin: 20px;
    border: 2px solid black;
}

.projectsContainer {
    margin-left: 5%;
}

.searchBar {
    display: flex;
    margin-top: 10px;
}